@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oxygen:wght@700&family=Titillium+Web:wght@300&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Titillium Web', sans-serif;
}
*{
	margin: 0px;
	padding: 0px;
}
.colorHeader{
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,161,66,1) 0%, rgba(0,0,0,1) 100%);
}
