@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oxygen:wght@700&family=Titillium+Web:wght@300&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Titillium Web', sans-serif;
}
*{
	margin: 0px;
	padding: 0px;
}
.header{
	
}